<nav>
    <div>
      <a href="/profile">
        <div id="logo"><img src="" alt="Home" /></div>
        <div id="headtag"><img src="" alt="Home" /></div>
        <div id="tagline"><img src="" alt="Home" /></div>
      </a>
    </div>
    <div>
      <a href="/Homepage/index.html" class="here">Home</a>
  
      <a href="/profile">Account Profile</a>


  
      <!-- <a href="/Login_Signup_Page/index.html">Login</a> -->
  
      <!-- <a href="/Landing/index.html">Landing</a> -->

      <a href="/bodycomp">Body Composition</a>
  
      <a href="/steps">Steps</a>
  
      <a href="/activities">Workout</a>
  
      <a href="/sleep">Sleep</a>
  
      <!-- <a href="/Goals_and_Achievements/index.html">Goals</a> -->
  
      <a href="/nutrition">Nutrition</a>
  
      <!-- <a href="/Personalized_Recommendations_Page/index.html">Recommendations</a> -->
  
      <input id="srchbar" type="search" placeholder="Search" />
    </div>
  </nav>
  