/* banner

/* Page title banner

/* chartjs.org for rem graph data points

/* div container with two medium size containers 

/* div container with data entry


*/
#log_Sleep_Form {
    display: none;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }