<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" async defer></script>
    <script type="module" src="./script.js" async defer></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="replace_with_navbar"></div>
    <header>
      <!--My Fitness App Banner-->
      <h1>My Fitness App</h1>
    </header>
    <div>
      <h1>Workouts</h1>
    </div>
    <div>
      <div>
      </div>

    </div>

    <!--Progress Status bar with trophy icon-->

    <!--Quickstart exercise options panel board with image icon-->

    <!--Timer banner with start and reset buttons -->

    <!--Workout history-->
    <div>
      Flexbox for workout history cards
      <div></div>
    </div>

    <!--My Fitness App Banner-->

    <!----again-->

    <script>
      fetch("/New/public/nav.html")
        .then((res) => res.text())
        .then((text) => {
          let oldelem = document.querySelector("#replace_with_navbar");
          let newelem = document.createElement("div");
          newelem.innerHTML = text;
          oldelem.parentNode.replaceChild(newelem, oldelem);
        });

      // Add an event listener to the button
      document
        .getElementById("toggleNav")
        .addEventListener("click", function () {
          // Get the navigation bar
          let navbar = document.querySelector("nav");

          // Toggle the display property
          if (navbar.style.display === "none") {
            navbar.style.display = "block";
          } else {
            navbar.style.display = "none";
          }
        });
    </script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/New/public/js/nav.js"></script>
  </body>
</html>
