<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Body Composition Page</title>
  <link rel="stylesheet" href="css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <header>
    <% include('partials/header'); %>
  </header>
  <div>
    <h1>My Fitness App</h1>
    <h1>Body Composition</h1>

    <div class="graph-view-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Weight (lbs)</th>
            <th scope="col">BMI</th>
          </tr>
        </thead>
        <tbody>
          <% userWeight['body-weight'].forEach((day) => { %>
            <tr>
              <td><%= day.dateTime %></td>
              <td><%= (day.value * 2.20462).toFixed(2) %></td>
              <td><%= userBody['body-bmi'].find(bmiDay => bmiDay.dateTime === day.dateTime).value %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <form id="addWeightForm" action="/bodycomp" method="post">
      <input id="addWeight" type="number" step="0.01" placeholder="Enter your weight 200.00" required></input>
      <input id="submitWeight" type="submit"></input>
    </form>
    <!-- TODO make toast notification with recently added data -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script src="js/main.js"></script>
  <script src="js/nav.js"></script>
  <footer>
    <% include('partials/footer'); %>
  </footer>

</body>

</html>
