<nav>
  <div>
    <a href="/Homepage/index.html">
      <div id="logo"><img src="" alt="Home" /></div>
      <div id="headtag"><img src="" alt="Home" /></div>
      <div id="tagline"><img src="" alt="Home" /></div>
    </a>
  </div>
  <div>
    <a href="/Homepage/index.html" class="here">Home</a>

    <a href="/Profile_page/index.html">Account Profile</a>

    <a href="/Login_Signup_Page/index.html">Login</a>

    <a href="/Landing/index.html">Landing</a>

    <a href="/Steps_Page/index.html">Steps</a>

    <a href="/Workout_Page/index.html">Workout</a>

    <a href="/Sleep_Page/index.html">Sleep</a>

    <a href="/Goals_and_Achievements/index.html">Goals</a>

    <a href="/Nutrition_Page/index.html">Nutrition</a>

    <a href="/Personalized_Recommendations_Page/index.html">Recommendations</a>

    <input id="srchbar" type="search" placeholder="Search" />
  </div>
</nav>
